{% include 'base/header.html' %}

<form method="POST" action="{{URL.RES.MODIFIER_EQUIPE_PREFIXE}}{{equipe.id}}"
        class="col-md-6 ml-auto mr-auto">
    <h2>Modifier equipe</h2>
    <input class="form-control" type="text" name="nom_equipe" value="{{equipe.nom}}">
    <button class="btn btn-success form-control" type="submit">
        Modifier
    </button>
</form>

{% include 'base/footer.html' %}