body{
    position: absolute;
    top: 57.72px;
    bottom: 5px;
    left: 0;
    right: 0;
}

main{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.favicon{
    max-width: 40px;
    max-height: 40px;
}

.jumbotron{
    border-radius: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.fa-palm-tree:before {
    content: "\1f334";
}

.fc-body tr{ min-height: 20px !important }

.submenu{
    background-color: rgb(103, 103, 235);
}

.submenu a{
    color: white;
}

.submenu li.active{
    background-color: rgba(25, 99, 168, 0.3);
    color: white !important;
}

.submenu li.active > a{
    text-shadow: 1px 1px 1px black;
}

a{
    text-decoration: none;
}

.btn{
    padding-left: 5px;
    padding-right: 5px;
}

a.btn:hover{
    background-color: transparent !important;
}

.btn[role='button']{
    background-color: transparent !important;
}

.btn[role='button']:hover{
    background-color: transparent !important;
}

h2{
    text-align: center;
    margin-bottom: 15px;
}

.container{
    padding-top:25px
}

.notification{
    position: absolute;
    background-color: lightgreen;
    border: solid 1px green;
    color: black;
    width: 80%;
    border-radius: 8px;
    min-height: 50px;
    padding: 15px;
    margin: 8px 10% 0 10%;
    text-align: center;
    z-index: 99999999;
}

.notification > .btn-close{
    position: absolute;
    top: 0;
    right: 0;
}

.navbar.text-light a{
    color: white !important;
}
