<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>{{app.name}} {{'- '+page if page else ''}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon -->
    <link rel="icon" href="/static/img/favicon.ico" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- Date picker -->
    <link rel="stylesheet" href="/static/css/datepicker.min.css">
    <!-- Fullcalendar -->
    <link rel="stylesheet" href="/static/css/fullcalendar.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  </head>
  <body>
    {% if navbar!=False %}
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
      <a class="navbar-brand" href="/">
        <img class="favicon" src="/static/img/favicon.ico" style="width:25px; height:30px">
        {{app.name}}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dropdown"aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% if user %}
      <div id="dropdown" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          {% if user.role in ('rh', 'rrh') %}
          <li>
            <a class="nav-link" href="{{URL.PAGE.VALIDATION_DEMANDES}}">
              Validation des congés
              <i class="fa fa-address-card"></i>
            </a>
          </li>
          {% endif %}
          {% if user.role == 'rrh' %}
          <li>
            <a class="nav-link" href="{{URL.PAGE.GESTION_EMPLOYES}}">
              Gestion RH
              <i class="fa fa-user-tie"></i>
            </a>
          </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.chef_equipe %}
          <li class="nav-item">
            <a class="nav-link" href="/conges/equipe">
              Congés de mon équipe
              <i class="fa fa-users"></i>
            </a>
          </li>
          {% endif %}
          {% if user.role in ('employe', 'rh', 'rrh') %}
          <li>
            <a class="nav-link" href="/conges/mes_demandes">
              Mes congés
              <i class="fa fa-palm-tree fa-lg"></i>
            </a>
          </li>
          {% endif %}
          <li>
            <a class="nav-link" href="{{URL.RES.DECONNEXION}}">
                <i class="fa fa-power-off fa-lg"></i>
            </a>
          </li>
        </ul>
      </div>
      {% endif %}
    </nav>
    {% endif %}

    <!-- sous menu spécifique à l'onglet Gestion RH -->
    {% if onglet == 'gestion_rh' %}
    <nav class="navbar navbar-expand-sm bg-danger text-light">
        <div class="navbar-brand">Gestion RH</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#submenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="submenu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item {{'active' if page=='gestion - employes'}}">
                    <a class="nav-link" href="{{URL.PAGE.GESTION_EMPLOYES}}">
                        Employés
                    </a>
                </li>
                <li class="nav-item {{'active' if page=='gestion - equipes'}}">
                    <a class="nav-link" href="{{URL.PAGE.GESTION_EQUIPES}}">
                        Equipes
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    {% endif %}

    <!-- notification affiche s'il y a un message -->
    {% if notification %}
      <div id="notification" class="notification bg-{{notification.type}}">
        {{ notification.texte }}
        <!-- btn fermer la notif-->
        <button class="btn btn-close" role="button" onclick="$('#notification').css('display', 'none')">
            <i class="fa fa-times"></i>
        </button>
      </div>
      <script>
        // cache la notification automatiquement après 3 secondes
        setTimeout(function(){
          $('#notification').css('display', 'none');
        }, 3000);
      </script>
    {% endif %}
